# For testing
pytest
pytest-asyncio
httpx
# Database and env management
sqlalchemy[asyncio]
asyncpg
alembic
python-dotenv
aiosqlite
# For Alembic sync migrations
fastapi
pydantic[email]
psycopg2-binary
uvicorn
python-jose[cryptography]
passlib[bcrypt]
python-multipart
